my-spring-projects/jaxb-parent/jaxb-marshall/generated/src/main/resources/xsd/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vishnu.com/jaxb/marshall/course" version="1.0">

  <xs:complexType name="CourseRequest">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>Java class for CourseRequest complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="CourseRequest"&gt;
  &lt;complexContent&gt;
    &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType"&gt;
      &lt;sequence&gt;
        &lt;element name="id" type="{http://www.w3.org/2001/XMLSchema}int"/&gt;
      &lt;/sequence&gt;
    &lt;/restriction&gt;
  &lt;/complexContent&gt;
&lt;/complexType&gt;
</pre>]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CourseResponse">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>Java class for CourseResponse complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="CourseResponse"&gt;
  &lt;complexContent&gt;
    &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType"&gt;
      &lt;sequence&gt;
        &lt;element name="id" type="{http://www.w3.org/2001/XMLSchema}int"/&gt;
        &lt;element name="name" type="{http://www.w3.org/2001/XMLSchema}string"/&gt;
        &lt;element name="description" type="{http://www.w3.org/2001/XMLSchema}string"/&gt;
        &lt;element name="created" type="{http://www.w3.org/2001/XMLSchema}dateTime"/&gt;
      &lt;/sequence&gt;
    &lt;/restriction&gt;
  &lt;/complexContent&gt;
&lt;/complexType&gt;
</pre>]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="created" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
